# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# OS junk
.DS_Store

# Logs
*.log

# Videos / Audio
*.mp4
*.avi
*.wav
*.mp3

# IDE
*.iml
.idea/
.vscode/

src/main/resources/application.properties
src/main/resources/haarcascades
src/main/java/com/example/vprofile/linkedIn/LinkedInAuthController.java
src/main/resources/opensmile-3.0.2-macos-armv8
src/main/resources/usr